# Environment variables example
DB_HOST=localhost
DB_PORT=3306
DB_USER=vincent
DB_PASSWORD=password123
DB_NAME=spa_db

JWT_SECRET=daee107a8e261656320c4a723328ce0f76c09ab2297c5ffec41888ccf61ad7dbc24d552a9ea65f9ca8c856aaa747d59eab1a174aca18156c018e43
JWT_EXPIRES_IN=7d

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your_email@gmail.com
MAIL_PASSWORD=your_app_password

NODE_ENV=development
PORT=5000
